ion-toolbar {
  --background: #2A2D3E;
}

ion-content {
  --background: #3e425a;
}

#header-row {
  padding: 0.2rem 1rem;
}

#top-logo {
  width: 60px;
}

h1 {
  color: #D9D9D9;
  font-size: 30px;
  width: 60%;
}