<ion-header>
  <ion-toolbar>
    <ion-row id="header-row">
      <img [src]="sportViewLogo" id="top-logo" alt="SportView Logo">
      <ion-title class="ion-justify-content-center">
        Inicio
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
    <h1 class="ion-justify-content-center">Bienvenido a SportView, {{ name }}</h1>
  </ion-row>

</ion-content>

<app-tabs></app-tabs>