ion-content {
    --background: #2A2D3E;
}

img {
    height: 40vh;
    padding: 10px;
}

form {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 480px;
    height: 50vh;
    justify-content: space-between;
    
    div {
        width: 83%;
        max-width: 400px;
        display: flex;
        flex-direction: column;

        label {
            display: flex;
            align-items: start;
            margin-bottom: 8px;
            color: #D9D9D9;
        }

        input {
            background-color: rgba(255, 255, 255, 0.1);;
            height: 2.3em;
            color: #D9D9D9;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }
    }

    button {
        margin: 1em 0;
        background-color: #2ECC71;
        width: 50%;
        max-width: 200px;
        height: 3em;
        border-radius: 5px;
    }

    a {
        color: #D9D9D9;
        text-decoration: underline;
        margin-bottom: 2em;
    }
}

.bad-credentials {
    color: #ff0033;
}