<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goToHome()">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button (click)="goToAttendance()">
      <ion-icon name="document"></ion-icon>
      Asistencia
    </ion-tab-button>
    <ion-tab-button (click)="goToProgress()">
      <ion-icon name="trending-up"></ion-icon>
      Progreso
    </ion-tab-button>
    <ion-tab-button (click)="goToProfile()">
      <ion-icon name="person"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
