<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goToHome()">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button (click)="goToAttendance()">
      <ion-icon name="document"></ion-icon>
      Asistencia
    </ion-tab-button>
    <ion-tab-button (click)="goToStudents()">
      <ion-icon name="people-outline"></ion-icon>
      Alumnos
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar sesión
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
