<ion-header>
  <ion-toolbar>
    <ion-row id="header-row">
      <img [src]="sportViewLogo" id="top-logo" alt="SportView Logo">
      <ion-title class="ion-justify-content-center">
        Alumno
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="true">
  <ion-row class="ion-justify-content-center">
    <div class="student-info">
      <p>Nombre: {{ student?.name }}</p>
      <p>Correo: {{ student?.email }}</p>
      <p>RUT: {{ student?.rut }}</p>
      <p>Sexo: {{ student?.sex == 'F' ? 'Mujer' : 'Hombre' }}</p>
      <p>Edad: {{ student?.age }} años</p>
      <p>Altura: {{ student?.height }} cm</p>
      <p>Peso: {{ student?.weight }} kg</p>
    </div>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <div class="student-progress">
      <ion-row class="ion-justify-content-center">
        <h3>Promedio</h3>
      </ion-row>
      <ion-row class="fill-width">
        <div class="stats-container">
          <p>Técnica</p>
          <div class="progress-bar">
            <div class="tecnique-progress" [ngStyle]="{ width: studentStats?.technique_avg!*10 + '%'}"></div>
          </div>
          <p>{{ studentStats ? studentStats.technique_avg : 0 }}/10</p>
        </div>
        <div class="stats-container">
          <p>Físico</p>
          <div class="progress-bar">
            <div class="physique-progress" [ngStyle]="{ width: studentStats?.physique_avg!*10 + '%'}"></div>
          </div>
          <p>{{ studentStats ? studentStats.physique_avg : 0 }}/10</p>
        </div>
        <div class="stats-container">
          <p>IQ</p>
          <div class="progress-bar">
            <div class="iq-progress" [ngStyle]="{ width: studentStats?.combat_iq_avg!*10 + '%'}"></div>
          </div>
          <p>{{ studentStats ? studentStats.combat_iq_avg : 0 }}/10</p>
        </div>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        Total: {{ totalPointsAvg }}/30
      </ion-row>
    </div>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <div class="student-progress">
      <ion-row class="ion-justify-content-center">
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <h3>{{ formatDate(date) }}</h3>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <button class="arrow-button"> < </button>
        <button class="arrow-button"> > </button>
      </ion-row>
      <ion-row class="fill-width">
        <div class="stats-container">
          <p>Técnica</p>
          <div class="progress-bar">
            <div class="tecnique-progress" style="width: 70%;"></div>
          </div>
          <p>7/10</p>
        </div>
        <div class="stats-container">
          <p>Físico</p>
          <div class="progress-bar">
            <div class="physique-progress" style="width: 50%;"></div>
          </div>
          <p>5/10</p>
        </div>
        <div class="stats-container">
          <p>IQ</p>
          <div class="progress-bar">
            <div class="iq-progress" style="width: 90%;"></div>
          </div>
          <p>9/10</p>
        </div>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        Total: 21/30
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <button id="add-button">Añadir registro</button>
      </ion-row>
    </div>
  </ion-row>
</ion-content>
<app-tabs></app-tabs>