ion-toolbar {
    --background: #2A2D3E;
}

ion-content {
  //--background: #3e425a;
  --background: linear-gradient(135deg, #2B2F3A, #3E4757);
}

#header-row {
  padding: 0.2rem 1rem;
}

#top-logo {
  width: 60px;
}

strong {
  color: black;
}

.active-button {
    opacity: 1;
}

.deactive-button {
    opacity: 0.5;
}

.arrow-button {
    background-color: rgba(255, 255, 255, 0.1);
    width: 5%;
    min-width: 40px;
    max-width: 100px;
    height: 2em;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.attendance-header {
  padding: 5px 0;
  align-items: center;
  justify-content: space-evenly !important;
}

.filter-select {
    background-color: rgba(255, 255, 255, 0.1);
    height: 2.3em;
    color: #D9D9D9;
    padding: 5px;
    border: none;
    border-radius: 5px;

    option {
        background: #2A2D3E;
        color: #D9D9D9;
        border: none;
    }
}

.field-names {
    width: 70%;
    justify-content: space-between;
    display: flex;
}

.student-card {
  width: 80%;
  background-color: #4e5370;
  border-radius: 8px;
  margin: 7.5px auto;
  padding: 10px;
  display: flex;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
}

.student-info-container {
  color: white;
  h2, h3 {
    margin: 5px;
  }

  h3 {
    font-size: 18px;
  }
}

.checklist-item {
    width: 20%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-attendance-row {
  padding: 5px 0;
}

#create-attendance {
  background-color: #2ECC71;
  width: 30%;
  min-width: 120px;
  max-width: 200px;
  height: 3em;
  border-radius: 5px;
  margin: 10px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#modify-attendance {
  background-color: #00A8E8;
  width: 30%;
  min-width: 120px;
  max-width: 200px;
  height: 3em;
  border-radius: 5px;
  margin: 10px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}